.header{
    background-color: aquamarine;
}

.nav{
    background-color:lightblue;
}

.aside{
    background-color: coral;
}

.article{
    background-color: darkkhaki;
}

.footer{
    background-color: darkslategray;
}